html
    head
        title Rock Paper Ciseau
        link(rel="stylesheet", href="/css/css.css")
    body
        main
            div.img
                a(href="/result/paper")
                    img(src="/img/paper.png")
                a(href="/result/rock")
                    img(src="/img/rock.png")
                a(href="/result/scissors")
                    img(src="/img/scissors.png")

