html
    head
        title Rock Paper Scissors
        link(rel="stylesheet", href="/css/css.css")
    body
       ul
           for choice in choices
               li
                    a(href="/play/" + choice.id) #{choice.name}

